{% extends "base.html" %}
{% load static %}

{% block script %}
<script type="text/javascript">

$(document).ready(function() {
    loadTweetContainer("tweet-container")
});

</script>
{% endblock script %}

{% block bg %}
  class="child_bg_class"
{% endblock %}

{% block content %}
<div class='row_self' >
    <div class='col-sm-3 col-xs-12' style='background-color:#FFFAF0;'>
           <div class="card text-center" style="width: 15rem; background-color:rgba(217,226,237,.5);">             
               <div class="card-body">
                 <p class="card-text"><h2>@{{ object.username }}</h2></p>
               </div>
           </div>
          <br/>
       <p>
      	 <a href='{{ object.profile.get_follow_url }}' class="badge badge-info" style="color:#FFF;">
      	  {% if following %}Unfollow{% else %}Follow{% endif %}
         </a>

       </p>

      <hr/>
        <h1>
          <button type="button" class="btn btn-success"> Following <span class="badge badge-light">{{ object.profile.get_following.count }}</span>
         </button>
  
        </h1>

        {% for user in object.profile.get_following %}
        <a href='/{{ user.username }}'>{{ user.username }}</a><br/>
        {% empty %}
        <h4> Not following any users</h4>
        {% endfor %}

    <hr/>
        <p>
           <button type="button" class="btn btn-primary"> Followers: <span class="badge badge-light">{{ object.followed_by.all.count }}</span>
           </button>
        </p>
        {% for profile in object.followed_by.all %}
        <a href='/{{ profile.user.username }}'>{{ profile.user.username }}</a><br/>
        {% empty %}
        <h4> Not followed by any users</h4>
        {% endfor %}

    <hr/>




</div> 

    <div class='col-sm-9 col-xs-12'>
      <h1>Posts</h1>
      <div id='tweet-container' data-url='/api/{{ object.username }}/tweet/'>

      </div>
      <a href='#' id='loadmore'>Load More Posts</a>
      




    </div> 
 </div>

	

{% endblock content %}


