{% extends "base.html" %}
{% load static %}


{% block script %}
<script type="text/javascript">

$(document).ready(function() {
    loadTweetContainer("tweet-container")
});

</script>
{% endblock script %}

{% block bg %}
  class="child_bg_class"
{% endblock %}

{% block content %}	
    <div class='row_self'>
      <div class='col-sm-12'>
        {% if request.GET.q %}
        <p class='lead'>Results for {{ request.GET.q }} ...</p>
        <hr/>
        {% endif %}
      </div>
    	<div class='col-sm-9'>
        <h1>Posts</h1>
        <hr/>
	         
	          <div id='tweet-container' data-url='/api/search/'>

            </div>
            <a href='#' id='loadmore'>Load More Tweets</a>

      </div>
      <div class='col-sm-3' style='background-color:#FFFAF0;'>
        <h1>Users</h1>
        <hr/>
          {% for user in users %}
            <a href='/{{ user.username }}/'>{{ user.username }}</a><br/>
          {% empty %}
          <p>No users found</p>
          {% endfor %}
      </div> 
    </div>
{% endblock content %}